acme-logo {
	align-items: center;
	color: rgb(255, 255, 255);
	display: flex;
	font-family: "Lusitana";
	line-height: 1;

	hero-icon {
		transform: rotate(15deg);
		width: 3rem;
	}
	
	p {
		font-size: 44px;
	}
}
